.horizontal-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-main);
}

.horizontal-header h1 {
  color: #fff;
  font-weight: bold;
}

.logout-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-button p {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
