.medic-profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 32%;
  height: 60vh;
}

.medic-profile-box-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 65%;
  background-color: #fff;
  border-radius: 5rem;
}

.medic-profile-box-name h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.medic-profile-box-schedule {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  background-color: #3eb713;
  border-radius: 5rem;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}

.medic-profile-box-schedule:hover {
    transform: scale(1.1);
}

.medic-profile-box-image {
  width: 7rem;
  height: 7rem;
  background-color: blueviolet;
  border-radius: 50%;
}
