.header-platform {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--color-main);
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.header-platform-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.header-platform-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-platform-nav a {
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}
.header-platform-nav a:hover {
  color: rgb(188, 250, 252);
}

.header-platform-location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-platform-location-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-platform-location-flex p {
  color: #fff;
  font-weight: bold;
}

.header-logo {
  max-width: 100px;
}

.header-hello-message {
  position: relative;
  left: -12%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
}

.header-hello-message {
  font-size: 4rem;
  color: #333333;
  font-weight: bold;
}

.header-hello-message span {
  color: #16697a;
  position: relative;
  left: 20%;
}

/*Mobile*/

.header-button-nav {
  display: none;
  background: none;
  border: none;
  outline: none;
}

@media (max-width: 900px) {
  .header-platform-nav {
    display: none;
  }
  .header-button-nav {
    display: flex;
  }
}

@media (max-width: 400px) {
  .header-logo {
    max-width: 70px;
  }
}
