.sub-header-platform {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  padding: 2rem;
  background-color: var(--color-main);
}

.sub-header-platform h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 800px) {
  .sub-header-platform h1 {
    font-size: 2rem;
  }
}
